@charset "UTF-8";
        body{
            font: normal 15 pt Arial;
           
        }

        p {
            background-color: blanchedalmond;
        }

        a {
            background-color: brown;
        }

