@charset "UTF-8";
        body{
            font: normal 15 pt Arial;
            background-color: #0A4163;
            color: white;
        }
        header {
            color: white;
            text-align: center;
        }
        section {
            width: 500px;
            height: 400px;
            background-color: white;
            border-radius: 10px;
            padding: 15px;
            margin: auto;
            box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.363);
        }

        footer{
            color: white;
            text-align: center;
            font-style: italic;
        }
