@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('/ProjetoFlavia/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
header{
    background-image:linear-gradient(#83E1AD 0.01px,#3DDC84 0.1px,#063D1E);
    font-family: 'Bebas',Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 20px;
    color: white;    
}

header h1{
    text-align: center;
    font-family: 'Bebas Neue',cursive;
    font-size: 36px;
    font-weight: 300;
}
header p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;    
}

nav a{    
    text-decoration: none;
    color: #C5EBD6;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover{
    background-color:#0a8a419f;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.281);


}
body{
    background-color: #C5EBD6;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
body h2,h3 {
    font-family: 'android';
    color: #0D331E;
}
body strong{
    color: #0a7c3b;
}
section h3{
    background-image:linear-gradient(to right,#83E1AD,#3DDC84 1px,#ffffff);
    color: #165732;
}

section#principal{
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 20px;

    
}
section p {
    text-indent: 3em;
    text-align: justify;
}

section a {
    background-color:#8fd1ad;
    padding: 2px;
    text-decoration: none;
    font-weight: bold;
}
